<div class="margin-20 ">
  <div class="flex flex-space_between">
    <h2>VIEW PROPERTIES</h2>
    <p-button label="Back to Dashboard" styleClass="p-button-link" appBackButton></p-button>
  </div>
  <div class="flex flex-space_between ">
    <div class="flex flex-column gap">
      <label>Search Property</label>
      <input type="text" pInputText [value]="searchValue" (input)="onInput($event)">
    </div>

    <button pButton pRipple label="Add" [routerLink]="['/add-property']"
     class="p-button-success addBtn"></button>
  </div>


  <div class="card">
    <p-table [value]="properties" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Description</th>
          <th>Address</th>
          <th>Unit</th>
          <th>Property Type</th>
          <th>Stand Size</th>
          <th>Property Size</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-property>
        <tr>
          <td>{{ property.id }}</td>
          <td><img [src]="property.image" class="shadow-4"></td>
          <td>{{ property.description }}</td>
          <td>{{ property.address }}</td>
          <td>{{ property.unit_identifier }}</td>
          <td>{{ property.property_type }}</td>
          <td>{{ property.stand_size }}m<sup>2</sup></td>
          <td>{{ property.property_size }}m<sup>2</sup></td>
          <td><p-button styleClass="p-button-link"
            [routerLink]="['/edit-property', property.id]">Edit</p-button></td>
          <td><p-button styleClass="p-button-link"
            (onClick)="deleteProperty(property)">Delete</p-button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

</div>
